<!-- TODO -->
<!-- This template is given as an example of the informations that
can be displayed on the home page -->
<!-- This view is designed according to the home controller supplied -->
<div class='home'>
  <%= link_to 'Admin panel', admin_index_path %>
  <% unless current_user %>
    <%= link_to "Link your Maestrano account", maestrano_connector_rails.init_maestrano_auth_saml_index_path(tenant: :default) %>
    <p>Some generic information about the connector</p>

  <% else %>
    <% unless @organization.oauth_uid %>
      Not linked to external app
      <% if is_admin?(current_user, @organization) %>
        <%= link_to "Link this company to ...", 'some_path' %>
      <% end %>
    <% else %>
      Linked to external app
    <% end %>

    <% if !@organization.sync_enabled %>
      Synchronizations are currently disabled. Go to the
      <%= link_to " admin panel", admin_index_path %>
      to enable them.
    <% end %>

    <h2>Last synchronization</h2>
    <% if @synchronizations.first %>
      <%= "#{@synchronizations.first.updated_at} #{@synchronizations.first.status}" %>
      <% if @synchronizations.first.is_error? %>
        <%= @synchronizations.first.message %>
      <% elsif @synchronizations.first.is_success? && @synchronizations.first.partial? %>
        Partial synchronization
      <% end %>
    <% end %>

    <h2>Synchronizations history</h2>
    <% @synchronizations.each do |sync| %>
      <%= sync.updated_at %>
      <%= sync.status %>
      <% if sync.is_error %>
        <%= sync.message %>
      <% elsif sync.is_success? && sync.partial? %>
        Partial synchronization
      <% end %>
    <% end %>
  <% end %>
</div>