/ TODO
/ Replace ApplicationName
.home
  .banners
    .container
      - if is_admin
        .row
          .col-md-10
            %h3 Data Shared
            %small Equivalence between the internal id and ApplicationName id for each of your entities

        - if @idmaps
          %table.table.table-condensed
            %th Entity name
            %th Internal entity
            %th Internal id
            %th ApplicationName entity
            %th ApplicationName id
            %th Message

            - @idmaps.each do |idmap|
              %tr
                %td= idmap.name
                %td= idmap.connec_entity ? idmap.connec_entity.humanize : nil
                %td= idmap.connec_id
                %td= idmap.external_entity ? idmap.external_entity.humanize : nil
                %td= idmap.external_id
                %td= idmap.message
        - else
          .spacer1
          .row
            .col-md-12
              %strong You don't have any data mapped yet

      - else
        .row.center
          -if current_user
            %h3 You don't have the necessary rights to access this page.
          - else
            %h3 You need to be logged in to access this page
          = button_to "Go back", home_index_path, method: :get, class: 'btn btn-warning'
